<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Postaladdress</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.Name %></td>
        <td><%= owner.PostalAddress %></td>
        <td><%= link_to 'Show', owner, class: 'btn btn-info active'  %></td>
        <td><%= link_to 'Show Dogs', dogs_path, class: 'btn btn-info active'  %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner), class: 'btn btn-default active'  %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger active'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>
