<p id="notice"><%= notice %></p>

<h1>Listing Dogs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.Name %></td>
        <td><%= dog.Birthday %></td>
        <td><%= link_to 'Show', dog, class: 'btn btn-info active'  %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog), class: 'btn btn-default active'  %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger active'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
