<p id="notice"><%= notice %></p>

<h1>Listing Price Plans</h1>

<table>
  <thead>
    <tr>
      <th>Months</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_plans.each do |price_plan| %>
      <tr>
        <td><%= price_plan.months %></td>
        <td><%= price_plan.price %></td>
        <td><%= link_to 'Show', price_plan %></td>
        <td><%= link_to 'Edit', edit_price_plan_path(price_plan) %></td>
        <td><%= link_to 'Destroy', price_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price plan', new_price_plan_path %>
