<h1>Welcome <%= @owner.Name %></h1>
<%= link_to 'Update my details', edit_owner_path(@owner), :class => "btn btn-info active" %>
<br />
<hr />
<% @dogs.each do |dog| %>
	<h3><%= dog.Name %></h3>
	<% if !dog.is_registered %>
		<%= form_tag("/welcome/addrego") do %>
			<%= hidden_field_tag(:dog_id, dog.id) %>
		  <div class="field">
			<% @price_plans.each do |price_plan| %>
			    <%= radio_button_tag(:price_plan_id, price_plan.id) %>
				<%= label_tag(:price_plan_id, price_plan.months.to_s << " months for $" << price_plan.price.to_s) %>
				<br />
			<% end %>
		  </div>  
		  <%= submit_tag("Register " << dog.Name) %>
		<% end %>
	<% else %>
		<p><%= dog.Name %> Is allready registered</p>
	<% end %>
	<hr />
<% end %>
<%= link_to 'Add Dog', action: 'createdog' %>