<h1>Welcome <%= @owner.Name %></h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'Edit details', edit_owner_path(@owner) %>
<%= link_to 'Add Dog', action: 'createdog' %>
<br />
<% @dogs.each do |dog| %>
	<h3><%= dog.Name %></h3>
	<% if !dog.is_registered? %>
		<%= form_tag("/welcome/addrego") do %>
			<%= hidden_field_tag(:dog_id, dog.id) %>
		  <div class="field">
		    <%= radio_button_tag(:months, "3") %>
			<%= label_tag(:months_3, "3 months") %>
			<%= radio_button_tag(:months, "6") %>
			<%= label_tag(:months_6, "6 months") %>
			<%= radio_button_tag(:months, "12") %>
			<%= label_tag(:months_12, "One year") %>
		  </div>  
		  <%= submit_tag("Register dog") %>
		<% end %>
	<% else %>
		<p><%= dog.Name %> Is allready registered</p>
	<% end %>
<% end %>