<p id="notice"><%= notice %></p>

<h1>Listing Regos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Dog</th>
      <th>Rego length</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regos.each do |rego| %>
      <tr>
        <td><%= rego.dog.Name %></td>
        <td><%= rego.RegoLength.to_s << " months" %></td>
        <td><%= rego.StartDate %></td>
        <td><%= rego.EndDate %></td>
        <td><%= link_to 'Show', rego, class: 'btn btn-info active'  %></td>
        <td><%= link_to 'Edit', edit_rego_path(rego), class: 'btn btn-default active'  %></td>
        <td><%= link_to 'Destroy', rego, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger active'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rego', new_rego_path %>
